<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InstrumentEdit.Properties.Settings.WebFeedRepositoryConnectionString"
            connectionString="Data Source=10.240.18.202;Initial Catalog=WebFeedRepository;Persist Security Info=True;User ID=jse_webapps;Password=St0ckExch@ng3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>